html {
    background-color: #fffff8;
}

h1,
h2 {
    font-weight: 400;
    line-height: 1;
}

h1 {
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 1.5rem;
    font-size: 3.2rem;
}

h2 {
    font-style: italic;
    margin-top: 2.1rem;
    margin-bottom: 1rem;
    font-size: 2.2rem;
}

p {
    font-size: 1.4rem;
    line-height: 2rem;
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
}

body {
    width: 640px;
    margin: 0 auto;
    font-family: Palatino, 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif;
}

.full-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 640px;
    height: 400px;
}

.caption {
    text-align: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 640px;
    height: 480px;
    background-color: rgba(0, 0, 0, 0);
}

button {
    border: 0;
    background: rgba(150, 150, 150, 0.6);
    text-shadow: 1px 1px 1px white;
    border: 1px solid #999;
    position: absolute;
    cursor: pointer;
    top: 2px;
    left: 2px;
}

.thumb-bar {
    display: flex;
    scroll-snap-type: x mandatory;
    margin-bottom: 10px;
    max-width: 640px;
    overflow-x: scroll;
}

.thumb-bar img {
    height: 80px;
    width: auto;
    cursor: pointer;
}

.thumb-bar img.active {
    border: 3px solid lightskyblue;
    outline: none;
    box-sizing: border-box;
}